.main-contaner{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.containers{
    display: flex;
    text-align: left;
    justify-content: flex-end;
    min-width: 50%;
}
.top-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}