.percentage{
    margin: 0 11px;
    font-size: 14px;
    color: #0085b0;
    background: #ADD8E6;
    padding: 1px 3px;
    border-radius: 4px;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root.Delayed{
    color: #cf2323;
    background: #fad8d8;
    border-right: 2px solid;
    border-radius: 10px;
}
.css-1v5z4dq-MuiPaper-root-MuiCard-root{
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(231,231,231,1);
}
.Ontime-section{
    padding: 0 5px;
    border-left: 2px solid rgba(231, 231, 231, 1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@property --percentage {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .counter {
    animation: counter 5s ease-out;
    animation-fill-mode: forwards;
    counter-reset: num var(--percentage);
  }
  .counter::after {
    content: counter(num) "%";
  }
  
  @keyframes counter {
    from {
      --percentage: 0;
    }
    to {
      --percentage: var(--counter-end);
    }
  }
  
  .percentage-chart {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .percentage-chart-bg {
    fill: none;
    stroke:  rgba(231,231,231,1);
    stroke-width: 3;
  }
  
  .percentage-chart-stroke {
    fill: none;
    stroke-width: 3;
    stroke: green;
    stroke-linecap: round;
    animation: progress 5s ease-out forwards;
    stroke-dasharray: var(--counter-var),100;
  }
  
  .counter {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 14px;
    color: green;
    transform: translate3d(-50%, -50%, 0);
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }